ftfy
kornia
regex
matplotlib
mmcv>=2.0.0,<2.2.0
mmengine
mmpretrain
mmsegmentation
numpy>=1.20,<2.0
opencv-python
pandas
Pillow
scikit-image
scikit-learn
scikit-optimize
scipy
seaborn
statsmodels
torch
torchmetrics
torchvision
tqdm
Wand
